.CreateForm form {
  display: flex;
  flex-direction:column;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DescriptionContainer textarea {
  width: 24vw;
}

.SubmitButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 15ch;
}
