.CreateJobApp {
  padding: 4% 0;
  background-color: #fff;
  border: 1px;
  border-style: solid;
}

#status-heading {
  font-weight: bold;
  font-size: 24pt;
}

#add-button {
  display: inline;
  position: absolute;
  margin-top: 0.5em;
  margin-left: 1.8em;
  z-index: 100;
}
