.CreateForm form {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 25vw;
  z-index: 1;
  background: #ffcbb5;
  border: 1px;
  border-style: solid;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DescriptionContainer textarea {
  min-height: 20px;
  resize: vertical;
  width: 22vw;
}

.SubmitButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* input[type="submit"] {
  background: #1057FF;
  border: 1px solid #073BFF;
  padding: 1px 3px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: white;
} */

input {
  width: 15ch;
}
